.rbc-calendar {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  background-color: white;
}

/* Wrapper vom Kalender-Event komplett neutralisieren */
.rbc-event {
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  outline: none !important;
}

/* Wenn ein Event ausgewählt ist */
.rbc-event.rbc-selected {
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Fokus/Keyboard-Focus (das ist oft der "blaue Rahmen") */
.rbc-event:focus,
.rbc-event:focus-visible,
.rbc-event *:focus,
.rbc-event *:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

/* Content soll volle Größe haben */
/* .rbc-event-content {
  width: 100%;
  height: 100%;
} */
